* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Ubuntu:ital,wght@1,300&display=swap');

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Ubuntu', sans-serif;
}


ul {
    list-style-type: none;
}

.nav-links {
    display: flex;
    align-items: center;
    ;
}

.nav-links li {
    margin: 0 30px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: aqua;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
} 
.logo {
    font-size: 35px;
    color: azure;
}
.left{
    float: left;
    text-align: center;
    color: azure;
    font-size: 200%;
    margin-right: 230px;
    margin-bottom: 210px;
}
.right{
    float: right;
    margin-bottom: 140px;
}
.line {
    width: 150px;
    height: 4px;
    background-color: rgb(6, 240, 213);
    margin: 10px auto;
    border-radius: 5px;
}

/* .btn{
    margin-top: 45px;
    padding:15px;
    font-size: 35px;
    border-radius: 45%;
    width: 160px;
    color: azure;
    background-color: grey;
    border: none;
} */
.sec1{
    color: red;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

section {
    width: 80%;
    margin: 80px auto;
}

.tittle {
    text-align: center;
    font-size: 2.3vmin;
    color: rgb(241, 50, 88);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.records .row {
    margin-top: 50px;
}
.btn2{
    margin-top: 45px;
    padding:15px;
    font-size: 35px;
    border-radius: 70px;
    width: 180px;
    color: azure;
    background-color: grey;
    border: none;
    align-content: center;
    height: 40px;
}
#Logo{
    color: azure;
}
#html{
    float: left;
    width: 200px;
    height: auto;
    transition: 0.5s;
}
.desc{
  margin-top: 80px;
  text-align: center;
  margin-left: 230px;
  font-size: 20px;
  font-weight: 300;
}
footer{
    height: 70px;
    color: rgb(251, 251, 251);
    background-color: black;
    font-weight: 500;
    font-size: larger;
    text-align: center;
    height: 50px;
    padding: 30px 0;
}
.btn{
    background-color: gray;
    color: #efefef;
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 70px;
    font-size: 40px;
    margin-top: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: gray;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e7a306;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: white;
  }
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #e7a306;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  .hvr-float {
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  .records{
    padding-top: 50px;
  }