* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Tilt+Prism&display=swap');

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    font-family: 'Tilt Prism', cursive;;
}

ul {
    list-style-type: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: aqua;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
} 
.logo {
    font-size: 35px;
    color: azure;
}
.left{
    float: left;
    text-align: center;
    color: azure;
    font-size: 200%;
    margin-right: 230px;
    margin-bottom: 210px;
}
.right{
    float: right;
    margin-bottom: 140px;
}
.line {
    width: 150px;
    height: 4px;
    background-color: rgb(6, 240, 213);
    margin: 10px auto;
    border-radius: 5px;
}

.btn{
    margin-top: 45px;
    padding:15px;
    font-size: 35px;
    border-radius: 45%;
    width: 160px;
    color: azure;
    background-color: grey;
    border: none;
}
.sec1{
    color: red;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

section {
    width: 80%;
    margin: 80px auto;
}

.tittle {
    text-align: center;
    font-size: 2.3vmin;
    color: rgb(241, 50, 88);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.records .row {
    margin-top: 50px;
}
.btn2{
    margin-top: 45px;
    padding:15px;
    font-size: 35px;
    border-radius: 45%;
    width: 180px;
    color: azure;
    background-color: grey;
    border: none;
    align-content: center;
    height: 40px;
}